/***Default***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  padding-bottom: 5000px;
}

/***NavBar***/

.topnav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  font-weight: bolder;
  padding: 25px 10px;
}

.topnav li {
  display: inline-block;
}

.topnav a {
  text-decoration: none;
  color: white;
  margin: 0 7px;
  transition: 1s;
}

.topnav a:hover {
  color: #ED1C24;
}

.topnav a.active {
  color: #ED1C24;
}

.menu-line {
  height: 3px;
  width: 20px;
  background-color: white;
  margin: 0 5px 3px 0;
}

.menu {
  display: none;
  cursor: pointer;
}

/***NavBar mobile view***/

@media all and (max-width: 600px) {
  .topnav {
    flex-direction: column;
    padding: 32px 10px;
  }

  .topnav li {
    display: block;
    padding: 10px 0;
  }

  .menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 5px;
  }

  ul {
    display: none;
  }

  .showmenu {
    display: block;
  }
  
}

/***Humburger Animation***/

.bar1, .bar2, .bar3 {
  transition: .4s;
}

.change .bar1 {
  transform: translate(0, 6px) rotate(-50deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -6px) rotate(50deg);
}

/***Sticky topbar***/

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top .3s;
}

#topbar li {
  align-items: center;
  margin: 0;
  display: inline-block;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}

#topbar li i {
  color: #ED1C24;
  margin-right: 6px;
  font-size: 18px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #topbar li {
    font-size: 11px;
    padding: 10px;
  } 
  
  #topbar li i {
    font-size: 11px;
  }
}